.react-calendar {
  // width: 90%;
  // max-width: 1500px;
  min-width: 1400px;
  width: calc(100vw - 300px);
  max-height: 100vh;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  border: none;
}

.react-calendar__navigation__prev2-button {
  &:focus,
  &:hover {
    border-top-left-radius: 10px;
  }
}

.react-calendar__navigation__next2-button {
  &:focus,
  &:hover {
    border-top-right-radius: 10px;
  }
}

/** 달력 오늘 날짜 칸 */
.react-calendar__tile--now {
  background: #ebebeb73;
  color: #000;

  &:enabled:hover {
    background: #cccccc;
  }
  &:enabled:focus {
    color: black;
    background-color: red;
  }
}

/** 달력 년/월 표시 글씨 */
.react-calendar__navigation__label > span {
}

/**요일 section */
.react-calendar__month-view__weekdays {
  border-top: 1px solid rgba(166, 168, 179, 0.12);
  // border-bottom: 1px solid rgba(166, 168, 179, 0.12);

  abbr {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
  }
}

/** day타일 */
.react-calendar__tile {
  display: flex;
  // width: 100px;
  // height: 100px;
  min-height: 90px;
  // max-height: 180px;
  height: 14vh;

  padding: 8px 10px;
  letter-spacing: 1px;
  font-size: 12px;
  box-sizing: border-box;
  // color: #98a0a6;

  @for $i from 1 to 7 {
    &:nth-of-type(7n + #{$i}) {
      border-right: 1px solid rgba(166, 168, 179, 0.12);
    }
  }

  @for $i from 1 to 8 {
    &:nth-of-type(7n + #{$i}) {
      border-top: 1px solid rgba(166, 168, 179, 0.12);
    }
  }

  abbr {
    display: inline-block;
    font-size: 12px;
  }

  // &:enabled:hover,
  &:enabled:focus {
    // background-color: red;
  }
}

.react-calendar__month-view__days__day--neighboringMonth {
  background: repeating-linear-gradient(135deg, #e1dfff6c 0, #e1dfff6c 10%, transparent 0, transparent 50%);
  background-size: 3em 3em;
  background-color: #ffffff;
  opacity: 1;

  pointer-events: none;
}
